* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../imagens/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    perspective: 500px;
    width: 200px;
    height: 260px;
    display: inline-block;
    margin: 20px;
}

.card {
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
    margin: 20px 15px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.19);
}

.container:hover .card {
    transform: rotateY(180deg);
    transition: transform .3s ease;
}

.frente, .atras {
    position: absolute;
    background-color: rgba(212, 212, 212, 0.085);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center;
    backface-visibility: hidden;
    border-radius: 10 px;
    width: 100%;
    height: 100%;
} 
.atras {
    color: rgb(0, 0, 0);
    transform: rotateY( 180deg );
}

.atras h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px 5px;
}

.preco {
    font-size: 23px;
}

.preco, .categoria {
    text-align: justify;
    padding-left: 20px;
    padding-top: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icone {
    width: 60%;
    margin: auto;
    display: block;
    padding-top: 30%;
}

@media (min-width: 1913px) {
    body{
        background-size: cover;
    }
}